
@*Creo en paso 3 Productos/Create.cshtml*@
@*Cambiar tp9 *@
@model tl2_tp8_2025_Clari002.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Nuevo Producto";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <input asp-for="Descripcion" class="form-control"/>
        <span asp-validation-for="Descripcion" class="text-danger"></span>@*agregado tp9*@

    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input asp-for="Precio" class="form-control" type="number"/>
        <span asp-validation-for="Precio" class="text-danger"></span>@*agregado tp9*@
 
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@*agregado tp9*@
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


