@model tl2_tp8_2025_Clari002.ViewModels.AgregarproductoViewModel
@{
    ViewData["Title"] = "Agregar producto al presupuesto";
}

<h2>@ViewData["Title"] Nro @Model.IdPresupuesto</h2>

<form asp-action="AgregarProducto" method="post">
    <input type="hidden" asp-for="IdPresupuesto" />

    <div class="mb-3">
        <label asp-for="IdProducto"></label>
        <select asp-for="IdProducto" asp-items="Model.ListaProductos" class="form-control">
            <option value="">--Seleccione un producto</option>
        </select>
        <span asp-validation-for="IdProducto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cantidad"></label>
        <input asp-for="Cantidad" class="form-control" min="1" required />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>

</form>
@*ahora agrego un boton en la vista Details para ver esto*@

@section Scripts {
    z<partial name="_ValidationScriptsPartial"/>
}